#!/usr/bin/make -f
#export DH_VERBOSE = 1

export PYBUILD_NAME=bidict

%:
	dh $@ --with python3,sphinxdoc --buildsystem=pybuild


override_dh_auto_build:
	dh_auto_build
	make -C docs/ clean html

override_dh_auto_clean:
	dh_auto_clean
	rm -rf .hypothesis
	rm -rf .pytest_cache
	make -C docs/ clean

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	python3 run_tests.py
endif
